a,
article,
aside,
body,
br,
button,
dd,
div,
dl,
dt,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
html,
img,
input,
li,
ol,
p,
pre,
section,
span,
td,
textarea,
th,
tr,
ul,
video {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff; }

h2,
h4 {
  padding: 3% 0;
  color: #c80a22; }

body,
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 90px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; }
  header #desktop-nav-container {
    width: 100px;
    height: 100px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-left: 3%;
    float: left;
    -ms-flex-align: center;
        align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #c80a22;
    box-shadow: 0 6px 13px 1px rgba(0, 0, 0, 0.5);
    z-index: 10; }
  header .mobile-nav-desktop-icon,
  header .mobile-nav-desktop-icon:after,
  header .mobile-nav-desktop-icon:before {
    content: '';
    height: 2px;
    width: 50px;
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    transition: all ease-in-out 400ms; }
  header .mobile-nav-desktop-icon:after {
    bottom: 14px; }
  header .mobile-nav-desktop-icon:before {
    top: 12px; }
  header .navigation-active-state {
    background: transparent; }
    header .navigation-active-state:before {
      top: 0;
      transform-origin: center;
      transform: rotate(-45deg);
      background: #fff; }
    header .navigation-active-state:after {
      bottom: 4px;
      transform-origin: center;
      transform: rotate(45deg);
      background: white; }
  header h1 {
    float: left;
    margin-top: 35px;
    margin-left: 10px;
    font-size: 2.5rem; }
  header nav {
    width: 400px;
    display: none;
    position: fixed;
    margin-top: 90px;
    margin-left: 4%;
    font-weight: bold;
    text-align: center;
    z-index: 1; }
    header nav ul {
      background: #eee; }
    header nav.showMenu {
      display: block;
      transform-origin: top left;
      animation-name: showMenu;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out; }

@keyframes showMenu {
  0% {
    transform: scale(0);
    opacity: 0; }
  80% {
    transform: scale(1.15); }
  100% {
    transform: scale(1);
    opacity: 1; } }
    header nav li {
      width: 100%;
      height: 60px;
      display: block; }
    header nav a {
      display: block;
      color: #696969;
      padding: 20px 5px;
      font-size: 1.2rem;
      transition: font-size 0.4s ease-out, color 0.4s ease-in;
      transform-origin: top left; }
      header nav a:after {
        font-size: 1rem;
        content: '';
        height: 3px;
        display: block;
        margin: auto;
        width: 10%;
        background: #ccc;
        transition: width 0.4s ease-in-out, background 0.4s ease; }
      header nav a:hover:after {
        width: 100%;
        background: #ccc; }
      header nav a:hover {
        font-size: 1.5rem;
        color: #111; }
    header nav li {
      transform-origin: top left;
      margin-left: -250px;
      opacity: 0;
      transform-origin: top left;
      margin-left: -250px;
      opacity: 0;
      transform-origin: top left;
      margin-left: -250px;
      opacity: 0;
      transform-origin: top left;
      margin-left: -250px;
      opacity: 0; }
      header nav li:nth-child(1) {
        animation-name: showLi;
        animation-duration: 300ms;
        animation-delay: 100ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; }
      header nav li:nth-child(2) {
        animation-name: showLi;
        animation-duration: 300ms;
        animation-delay: 300ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; }
      header nav li:nth-child(3) {
        animation-name: showLi;
        animation-duration: 300ms;
        animation-delay: 500ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; }
      header nav li:nth-child(4) {
        animation-name: showLi;
        animation-duration: 300ms;
        animation-delay: 700ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; }

@keyframes showLi {
  0% {
    transform: rotate(45deg) scale(0.1);
    margin-left: -250px;
    opacity: 0; }
  100% {
    transform: rotate(0deg) scale(1);
    margin-left: 0;
    opacity: 1; } }

.clearFix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  zoom: 1; }

section {
  width: 100%;
  position: relative;
  color: #000;
  text-align: center; }

#welcome {
  height: 100vh;
  width: 100%;
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  z-index: 6;
  overflow: hidden; }
  #welcome.hideWelcome {
    background: #111; }
  #welcome.showWelcome {
    background-image: url("../../images/key-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover; }
  #welcome .hi {
    height: 100%;
    font-size: 25rem;
    position: absolute;
    display: none;
    top: 20%;
    left: 50%;
    transform: translate(-50%); }
  #welcome .introduction {
    height: 215px;
    position: relative;
    top: 50%;
    display: block;
    margin-top: -107px; }
    #welcome .introduction p:first-of-type {
      font-size: 5.5rem;
      font-weight: 400; }
    #welcome .introduction p:last-of-type {
      font-size: 1.8rem; }
    #welcome .introduction.hide-intro {
      opacity: 0; }
  #welcome a {
    width: 300px;
    height: 50px;
    display: inline-block;
    margin-top: 30px;
    background-color: #c80a22;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 2.5;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out 400ms; }
    #welcome a:focus {
      outline: none; }
    #welcome a:hover {
      background-color: #c80a36;
      transform: scale(1.05); }
  #welcome .scroll-down {
    height: 100px;
    width: 100px;
    position: relative;
    top: 110%;
    left: 50%;
    margin-left: -50px; }
    #welcome .scroll-down span {
      display: inline-block; }
    #welcome .scroll-down span:first-of-type {
      width: 40px;
      font-size: 0.6rem;
      word-wrap: break-word;
      margin-top: 30%; }
    #welcome .scroll-down span:last-of-type {
      font-size: 3.5rem;
      transform-origin: top center;
      animation: movingArrow;
      animation-duration: 2.5s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite; }

@keyframes movingArrow {
  0% {
    transform: translateY(-60px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

#skills {
  height: auto;
  background-color: #f5f5f5;
  padding-bottom: 3%;
  overflow: hidden;
  z-index: 5; }
  #skills .panel {
    width: 50%;
    padding: 0 2%;
    background: #fff; }
  #skills a {
    color: #111; }
  #skills .panels-left {
    margin-left: -60%; }
    #skills .panels-left.animate-left-panels {
      animation-name: showChatLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

@keyframes showChatLeft {
  0% {
    margin-left: -60%; }
  100% {
    margin-left: 1%; } }
    #skills .panels-left.rightPanelFix {
      margin-left: 1%; }
  #skills .panels-right {
    margin-left: 160%; }
    #skills .panels-right.animate-right-panels {
      animation-name: showChatRight;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards; }

@keyframes showChatRight {
  0% {
    margin-left: 160%; }
  100% {
    margin-left: 45%; } }
    #skills .panels-right.rightPanelFix {
      margin-left: 0; }
  #skills .chat-box {
    -ms-flex: 1;
        flex: 1;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    padding: 10px; }
    #skills .chat-box .date {
      position: absolute;
      top: 5%;
      transform: translateX(-50%); }
  #skills .person-circle {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    line-height: 3.5;
    font-weight: bolder; }
    #skills .person-circle:after {
      content: "";
      position: absolute;
      margin-top: 61px;
      border-width: 9px;
      border-style: solid;
      border-color: transparent transparent #c80a36 transparent; }
  #skills .text-box {
    width: 90%;
    margin-top: 14px;
    padding: 20px;
    border-radius: 20px;
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.5; }
  #skills .guest-q {
    border-bottom: 2px solid #ddd; }
    #skills .guest-q div.person-circle {
      border: 3px solid #c80a22;
      color: #c80a22; }
      #skills .guest-q div.person-circle:after {
        left: 35%; }
    #skills .guest-q .question {
      width: 93%;
      padding-left: 20px;
      background-color: #c80a36;
      color: #fff;
      transform-origin: top left;
      opacity: 0; }
      #skills .guest-q .question.animate-question {
        animation-name: question;
        animation-duration: 800ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 1s; }

@keyframes question {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
  #skills .me-answer {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-direction: column;
        flex-direction: column; }
    #skills .me-answer div.person-circle {
      border: 3px solid #666;
      color: #666; }
      #skills .me-answer div.person-circle:after {
        right: 35%;
        border-color: transparent transparent #eeeeee transparent; }
    #skills .me-answer .answer {
      background-color: #eeeeee;
      transform-origin: top right;
      opacity: 0; }
      #skills .me-answer .answer.animate-answer {
        animation-name: answer;
        animation-duration: 800ms;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 1.6s; }

@keyframes answer {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
  #skills .circle-container {
    width: 110px;
    height: 130px;
    display: inline-block;
    text-align: center;
    margin-left: 20px; }
    #skills .circle-container .circle {
      width: 100px;
      height: 100px;
      background-color: #fff;
      position: relative;
      top: 5px;
      left: 5px;
      border-radius: 100%; }
    #skills .circle-container .circle-border {
      width: 110px;
      height: 110px;
      position: relative;
      background-color: #8f8f8f;
      border-radius: 100%; }
      #skills .circle-container .circle-border.html {
        background-image: linear-gradient(91deg, transparent 50%, #c80a22 50%), linear-gradient(15deg, #c80a22 50%, transparent 50%); }
      #skills .circle-container .circle-border.js {
        background-image: linear-gradient(91deg, transparent 50%, #c80a22 50%), linear-gradient(-50deg, #c80a22 50%, transparent 50%); }
    #skills .circle-container .circle-value {
      font-size: 2.5rem;
      line-height: 2.5;
      color: #666666; }
  #skills .skills-container {
    display: inline-block;
    text-align: center; }
  #skills .skills-percent {
    width: 40%;
    display: inline-block;
    padding: 10px 0; }
    #skills .skills-percent > div {
      width: 90%;
      height: 8px; }
    #skills .skills-percent p {
      text-align: left; }
  #skills .coding {
    background: linear-gradient(to right, #c80a36 90%, #424242 10%); }
  #skills .communication, #skills .learning {
    background: linear-gradient(to right, #c80a36 70%, #424242 30%); }
  #skills .motivation {
    background: linear-gradient(to right, #c80a36 50%, #424242 50%); }
  #skills .organization {
    background: linear-gradient(to right, #c80a36 80%, #424242 20%); }
  #skills .computing {
    background: linear-gradient(to right, #c80a36 80%, #424242 20%); }

#projects {
  height: auto;
  margin-bottom: 210px;
  background-color: #222;
  overflow: hidden;
  z-index: 4; }
  #projects #gallery {
    width: 100%;
    position: relative;
    z-index: 1; }
  #projects #main-gallery.main-gallery-container {
    width: 90%;
    height: 46vw;
    display: inline-block;
    position: relative;
    margin-top: 3%; }
  #projects #main-gallery ul.clearFix li {
    width: 100%;
    float: left;
    display: none;
    position: absolute; }
  #projects #main-gallery ul.clearFix li:first-of-type {
    display: list-item; }
  #projects #main-gallery img {
    max-width: 100%;
    height: auto; }
    #projects #main-gallery img.zoomed {
      width: 100%;
      height: 95vh; }
  #projects #main-gallery div {
    cursor: pointer; }
  #projects #main-gallery #right-side-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0; }
  #projects #main-gallery #left-side-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0; }
  #projects #main-gallery:hover .image-btn {
    width: 45px;
    display: inline-block;
    padding: 50px 0;
    font-size: 2.5rem;
    line-height: 1;
    color: #c80a22;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: rgba(98, 98, 98, 0.5);
    transition: ease 0.2s; }
  #projects #main-gallery .image-btn {
    display: none; }
  #projects #main-gallery .dot-navigation {
    margin: 0 auto;
    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translateX(-50%); }
    #projects #main-gallery .dot-navigation li {
      height: 10px;
      width: 10px;
      display: inline-block;
      border: 3px solid #fff;
      border-radius: 25px;
      margin-top: 10px;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
      #projects #main-gallery .dot-navigation li.active {
        background-color: #fff;
        text-align: center; }
      #projects #main-gallery .dot-navigation li:hover {
        background-color: #fff; }
  #projects .description {
    width: 32%;
    height: 80px;
    position: relative;
    bottom: 85px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff; }
    #projects .description p {
      display: none; }
    #projects .description p:first-of-type {
      display: block; }
  #projects #small-gallery-container {
    height: 260px;
    display: inline-block;
    position: relative;
    margin: 5% auto;
    border: 1px solid #fff; }
    #projects #small-gallery-container .small-gallery-container-btns {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;
      position: absolute;
      background-color: rgba(28, 28, 28, 0.6);
      border-radius: 25px;
      color: #c80a22;
      font-size: 2rem;
      line-height: 1.5;
      cursor: pointer; }
    #projects #small-gallery-container #small-gallery-right-btn {
      right: 0; }
    #projects #small-gallery-container #small-gallery-left-btn {
      left: 0; }
    #projects #small-gallery-container .gallery-nav {
      width: 763px;
      height: 232px;
      margin: 30px auto 0;
      padding-top: 5px;
      overflow: hidden; }
    #projects #small-gallery-container ul {
      display: -ms-flexbox;
      display: flex;
      float: left; }
    #projects #small-gallery-container li {
      display: inherit;
      float: left;
      height: 188px;
      width: 400px;
      padding-right: 15px;
      cursor: pointer; }
    #projects #small-gallery-container img {
      width: 100%;
      height: auto; }
    #projects #small-gallery-container img.active1 {
      border: 3px solid #c80a22; }

footer {
  width: 100%;
  height: 250px;
  font-size: 3.3rem;
  background-color: #c80a36;
  text-align: center;
  position: fixed;
  bottom: 0; }
  footer a {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    cursor: pointer; }
    footer a:hover {
      color: #000;
      opacity: 0.9; }

.ui-loader {
  display: none !important; }
