
$main-color: #c80a22;
$question: #c80a36;
$black-dark: #111;
$white-color: #fff;
$gallery-color: rgb(143, 143, 143);
$black2: #333;
$black1: #111;
$gray: #ccc;
$skills-bg: #f5f5f5;
$me-border: #e0e0e0;
$me-answer: #eeeeee;
