@import "_reset";
@import "_colors";
@import "_header";
@import "_welcome";
@import "_skills";
@import "_projects";
@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $white-color;
}

h2,
h4 {
    font-size: 2rem;
    padding: 2.5em 0;
    text-transform: uppercase;
    margin: 2rem 0;
}

.clearFix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
    zoom: 1;
}

section {
    width: 100%;
    position: relative;
    color: #000;
    text-align: center;
}

footer {
    width: 100%;
    height: 250px;
    font-size: 2.8rem;
    background-color: #c80a22;
    text-align: center;
    position: fixed;
    bottom: 0;

    &:hover::before {
        content: '';
        position: absolute;
        background-color: #b9091e;
        left: 0;
        height: 250px;
        animation: animateFoot;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    @keyframes animateFoot {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
}

.mail-link {
    @include vertical-align;
    display: inline-block;
    cursor: pointer;
}
